---
import BaseLayout from './BaseLayout.astro';
import SiteId from './SiteId.astro';

interface Props {
	lang: string;
	title: string;
	siteName: string;
	siteLogo?: string;
	favicon?: string;
	homeLink: string;
}

const { lang, title, siteName, siteLogo, favicon, homeLink } = Astro.props;
---

<BaseLayout
	lang={lang}
	favicon={favicon || siteLogo}
	title={`${title} | ${siteName}`}
>
	<Fragment slot="head">
		<slot name="head" />
	</Fragment>
	<Fragment slot="header">
		<div class="general-header">
			<SiteId name={siteName} logo={siteLogo} homeLink={homeLink} />
			<slot name="header" />
		</div>
	</Fragment>
	<slot />
	<Fragment slot="footer">
		<slot name="footer" />
	</Fragment>
</BaseLayout>

<style>
	.general-header {
		border-bottom: thin solid;
	}
</style>
