---
import BasePage from '../components/BasePage.astro';
import SiteId from '../components/SiteId.astro';
import { type GeneralLayoutProps, getTitle } from '../layout-props';
import siteInfo from 'virtual:grayspace/site-info';
import { i18n } from '../i18n';
import 'virtual:grayspace/site-styles';

interface Props extends GeneralLayoutProps {}

const currentLocale = Astro.currentLocale;
const title = getTitle(Astro.props);
const { siteName, siteLogo, favicon, homeLink } = siteInfo;
const skipToMainText = i18n(currentLocale).__('Skip to main content');
---

<BasePage
	lang={currentLocale}
	favicon={favicon || siteLogo}
	title={`${title} | ${siteName}`}
	skipToMainText={skipToMainText}
>
	<slot slot="head" name="head" />
	<Fragment slot="header">
		<div class="general-header">
			<SiteId name={siteName} logo={siteLogo} homeLink={homeLink} />
			<slot name="header" />
		</div>
	</Fragment>
	<slot />
	<slot slot="footer" name="footer" />
</BasePage>

<style>
	.general-header {
		border-bottom: thin solid;
	}
</style>
