---
import BaseLayout from './BaseLayout.astro';
import SiteId from '../components/SiteId.astro';
import siteInfo from 'virtual:grayspace/site-info';
import 'virtual:grayspace/site-styles';

interface Props {
	title?: string;
	frontmatter?: {
		title?: string;
	};
}

const title = Astro.props.frontmatter?.title || Astro.props.title || '';
const { lang, siteName, siteLogo, favicon, homeLink, skipToMainText } =
	siteInfo;
const autoHomeLink = homeLink || import.meta.env.BASE_URL;
---

<BaseLayout
	lang={lang}
	favicon={favicon || siteLogo}
	title={`${title} | ${siteName}`}
	skipToMainText={skipToMainText}
>
	<slot slot="head" name="head" />
	<Fragment slot="header">
		<div class="general-header">
			<SiteId name={siteName} logo={siteLogo} homeLink={autoHomeLink} />
			<slot name="header" />
		</div>
	</Fragment>
	<slot />
	<slot slot="footer" name="footer" />
</BaseLayout>

<style>
	.general-header {
		border-bottom: thin solid;
	}
</style>
